

      <!-- REVIEW:
           Excellent use of nav flex-column.
      -->

      <ul class="nav flex-column">
        @for (item of sideBarMenus; track item.id) {
          <li class="nav-item" >
            <a 
              class="nav-link active" 
              [class.active]="selectedMenuId === item.id"
             (click)="selectedMenuItem(item)" href="#"
            >
            <!--[routerLink]="item.route"
              routerLinkActive="active"
              class="nav-link"> -->
              <i [class]="item.icon"></i>{{item.name}}
            </a>
          </li>
        }
      </ul>
